<%- include('top.ejs') %>
    <form action="<%= action %>" method="POST">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome"
                value="<%= doc.name %>" />
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="number" class="form-control" id="age" name="age" placeholder="Digite a idade"
                value="<%= doc.age %>" />
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary" /><a href="/" class="btn">Cancelar</a>
    </form>
    <%- include('bottom.ejs') %>